@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #181A1E;
  color: #DFDADA;
  overflow-x: hidden;
}
/*  dashboard  */
.cuadro{
  background-color: #2C333A;
}
.fondo{
  background-color: #181A1E;
}
.amarillo{
  color: #CDD589;
}
.amarilloBack{
  background-color: #CDD589;
}
.rojoBack{
  background-color: #DB6767;
}



/*  Loading  */

.loader {
  width: 60px;
  height: 60px;
 }
 
 .loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-top: 2px solid #CDD589;
  border-right: 2px solid transparent;
  animation: spinner8217 0.8s linear infinite;
 }
 
 @keyframes spinner8217 {
  to {
   transform: rotate(360deg);
  }
 }



 ::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

/* Estilo para el riel de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color de fondo del riel */
}

/* Estilo para el pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del pulgar */
  border-radius: 4px; /* Redondeado del pulgar */
}

/* Estilo para el pulgar de la barra de desplazamiento al pasar el ratón */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del pulgar al pasar el ratón */
}


/* Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: #CDD589;
  color: #000;
  text-align: center;
  border-radius: 8px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -107px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #CDD589 transparent transparent transparent;
}

/* Modal Proyectos */
.modalContenedor{
  width: 100vw;
  height: 100vh;
  background-color: #00000086;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.modalContenido{
  position: fixed;
  background-color: #2C333A;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
}


