@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #181A1E;
  color: #DFDADA;
}
/*  dashboard  */
.cuadro{
  background-color: #2C333A;
}
.fondo{
  background-color: #181A1E;
}
.amarillo{
  color: #CDD589;
}
.amarilloBack{
  background-color: #CDD589;
}




/*  Loading  */

.loader {
  width: 60px;
  height: 60px;
 }
 
 .loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-top: 2px solid #CDD589;
  border-right: 2px solid transparent;
  animation: spinner8217 0.8s linear infinite;
 }
 
 @keyframes spinner8217 {
  to {
   transform: rotate(360deg);
  }
 }
