@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #181A1E;
  color: #DFDADA;
}
/*  dashboard  */
.cuadro{
  background-color: #2C333A;
}
.fondo{
  background-color: #181A1E;
}